<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:tal="http://xml.zope.org/namespaces/tal" class="no-js no-treesaver">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height">
    <title>Mobile Yutzu - {{ title }}</title>
    <link rel="stylesheet" href="{{ request.static_url('mobileyutzu:static/css/document.css') }}" type="text/css" charset="utf-8" />
    <link rel="resources" href="{{ resources }}"/>
    <link rel="contents" href="{{ toc }}" />
    <script src="{{ request.static_url('mobileyutzu:static/js/treesaver.js') }}"></script>
  </head>

  <body>

<article>
{% block article %}
    <figure>
      <h2 data-sizes="title fallback">
        <span class="chapter">
        {% block subtitle %}
            {{ subtitle }}
        {% endblock %}</span>
        {{ title }}
      </h2>
    </figure>
    {% block content %}
    <p>
    <form action="." method="get">
        <input type="text" name="q" id="q" value="{{ q }}" />
        <input type="submit" value="Search!" />
    </form>
    {% if results %}
        <ol>
        {% for result in results.objects %}
            <li><a href="/{{ result.id }}/?q={{ q }}">{{ result.title }}</a>. {{ result.description|striptags|truncate(length=150) }}</li>
        {% endfor %}
        </ol>
    {% endif %}
    </p>
    {% endblock %}
{% endblock %}
</article> 

  </body>
</html>
