<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:tal="http://xml.zope.org/namespaces/tal" >
  <body> 
    <div class="chrome"> 
      <div class="viewer"> 
      </div> 
      <div class="controls"> 

    <!-- Menus -->
<!--        <div class="menu leftMenu">-->
<!--          <button>Menu 1</button>-->
<!--          <ul>          -->
<!--            <li>Option 1</li>-->
<!--            <li>Option 2</li>-->
<!--            <li>Option 3</li>-->
<!--          </ul>-->
<!--        </div>-->


<!--        <div class="menu rightMenu">-->
<!--          <button>Menu 2</button>-->
<!--          <ul>-->
<!--            <li>Option A</li>-->
<!--            <li>Option B</li>-->
<!--            <li>Option C</li>-->
<!--          </ul>-->
<!--        </div>-->

    <!-- Sidebar -->
<!--      <div class="sidebar sidebar-left">-->
<!--        This is the left side bar. You can close it by clicking on the close button or by clicking anywhere in the article. Clicking in the sidebar itself should not close it.-->
<!--        <button class="open-sidebar">Open left</button>-->
<!--        <button class="close-sidebar">Close</button>-->
<!--      </div>-->

<!--      <div class="sidebar sidebar-right">-->
<!--        <div class="content">-->
<!--          This is the right side bar. Note that even though this sidebar is on the right, there are no predefined sidebar locations in Treesaver. You can position sidebars anywhere and style them as you please.-->
<!--        </div>-->
<!--        <button class="open-sidebar">Open right</button>-->
<!--        <button class="close-sidebar">Close</button>-->
<!--      </div>-->

      <!-- Controls -->
        <div class="pagewidth"> 
          <span class="pagenumbers"> 
            <span data-bind="pagenumber">1</span> /
            <span data-bind="pagecount">5</span> 
          </span> 
<!--          <button class="prevArticle">« Tool</button>-->
          <button class="prev">Prev</button>
<!--          <button class="menu">Menu</button>-->
          <button class="next">Next</button>
<!--          <button class="nextArticle">Tool »</button>-->
<!--          <button class="open-sidebar">Open</button>-->
<!--          <button class="close-sidebar">Close</button>-->
        </div> 
      </div> 
    </div> 
 
    <div class="grid"> 
      <div class="container" data-sizes="title"></div> 
      <div class="column"></div> 
    </div> 
 
    <div class="grid cols-2"> 
      <div class="container cols-2" data-sizes="title"></div> 
      <div class="column"></div> 
      <div class="column col-2"></div> 
    </div> 
 
    <div class="grid cols-3"> 
      <div class="container cols-3" data-sizes="title"></div> 
      <div class="column"></div> 
      <div class="column col-2"></div> 
      <div class="column col-3"></div> 
    </div> 
 
    <div class="loading"> 
      Loading
    </div> 
 
    <div class="error"> 
      Error
    </div> 
  </body> 
</html> 
